@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Set color to black */
  color: black;

  background-color: blueviolet;

  /* Add the gradient as a custom property */

  /* overflow: hidden; */
}

/* Apply the custom gradient to the body or other elements */
body {
  background: var(--background-gradient);
}
